version: "3.8"
services:
  backend:
    build: .
    container_name: deployhub-backend
    ports:
      - "8081:8080"
    env_file: .env
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/deployhub
    command: ["npm", "run", "start"]

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
